html {
  position: relative;
  min-height: 100%;

}
#content {
  padding-bottom: 50px;
}
#footer .navbar{
  position: fixed;
}
body {
  padding: 2em;
    background-color: #EFF7FF;
  /*text-align: center;*/
},

h1 {
  margin-bottom: 1em;
  font-size: 65px;
  color: #2d3033;
},

select {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
},

.paypal-login-btn {

    padding-bottom: 30px;
},

p {
    font-size: 14px;
    line-height: 22.4px;
    color: #6c7279;
}
h2 {
    font-size: 40px;
    color: #2d3033;
}
h3 {
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
}
h4 {
    font-size: 22px;
    color: #2d3033;
    font-weight: 400;
}
h5 {
    font-size: 14px;
    color: #2d3033;
    text-transform: uppercase;
    font-weight: 700;
}

.btn {
    border: 1px solid rgba(0, 0, 0, 0.75);
    margin-top: 20px;
    color: #2a2a2a;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 0px;
    padding: 1.5% 3%;
    display: inline-block;
    text-transform: uppercase;
}
.btn:hover, .btn:focus {
    background-color: #2a2a2a;
    color: #fff;
}
.btn-large {
    padding: 15px 40px;
}

.navbar {
      margin-bottom: 0;
      border-radius: 0;
}

    /* Add a gray background color and some padding to the footer */
footer {
      background-color: #f2f2f2;
      padding: 25px;
      /*padding-top: 60px;*/
    }
