#share-buttons img {
  width: 20px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
}
#referralLink {

    color: white;
    font-style: underline;
}

.paypal-modal-button {

  position: relative;
  top: 10px;
}

img {

  max-width: 100%;
}

#featured-org {

  border: 3px solid #333;
  border-radius: 8px;
}

.blank-space {

  height: 40px;

}

localhost:5000/donated/referred
