#share-buttons img {
  width: 20px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
}
#referralLink {

    color: white;
    font-style: underline;
}

.paypal-modal-button {

  position: relative;
  top: 10px;
}

img {

  max-width: 100%;
}

#featured-org {

  border: 3px solid #333;
  border-radius: 8px;
}

.blank-space {

  height: 40px;

}

#social-bar > a {
  display: inline-block;

}

#donationModal {

  position: absolute;
  top: 100px;
  /*z-index: 2000*/;
}

.carousel-inner {
  max-width: 70%;
  position: relative;
  left: 15%;
}

.carousel-inner img {
  text-align: center;
}

.btn.btn-success.btn-sm {
    color: #ffffff;
    background-color: #135c78;
    border-color: #135c78;
    border-radius: 3px;
}

a {
    color: #366c8d;
}

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}