{% extends 'base.html' %}
{% block title %} About Despair Change {% endblock %}
{% block content %}

<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <h1>About Despair Change</h1>
      <h4>Despair Change, emerged from a well intending pledge I didn’t follow through on. Inspired by the 'Douchebag Jar' from the TV show, New Girl (see video below), I said I would donate a dollar to the ACLU every time something in the news made me feel a sense of despair, but I never did it, because the  donation form on the ACLU’s website was long and set up in a way that made me feel like the effort wasn’t worth it for just a dollar. If there had been a Paypal button, and a way for me to see that that single dollar would make a meaningful impact, I would have donated.
      </h4>
      <p>Our goal is to facilitate microdonations by people who want to make a positive impact during difficult moments.</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-12'>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/fWSKU3-52pk" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>





{% endblock %}
