<!doctype html>
<html>
<head>
  <title>{% block title %}THIS IS MY TITLE {% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script src=
      "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">
    </script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!--
  <script src="dist/clipboard.min.js"></script> -->
</head>


<body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Despair Change</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      {% if 'current_user' in session %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ g.user.fname }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/settings">Adjust Settings</a></li>
            <li><a href="/dashboard">See My Impact</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      {% endif %}


        <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#donationModal" >Make a Donation!</button>
        </li>
        <li><a href="/buttons">Push Buttons</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Our Partners<span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% if 'current_user' in session:%}
              {% for org in g.user.get_ranked_orgs() %}
            <li><a href="{{org.website_url}}" target="_blank">{{org.name}}</a></li>
            {% endfor %}
            {% else %}
              {% for org in g.orgs %}
            <li><a href="{{org.website_url}}" target="_blank">{{org.name}}</a></li>

            {% endfor %}
            {% endif%}
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Change Password</a></li>
            <li><a href="#">Change Favorite Org</a></li>
            <li><a href="#">Change Default Amount</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/settings">Go to Settings Page</a></li>
            <li role="separator" class="divider"></li>
            {% if 'current_user' in session %}
              <li><a href="/logout">Logout</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
      {% if 'referral_link' in session %}
      <form class="navbar-form navbar-left">
        <button id="ref-link-button" type="submit" class="btn btn-default ref-link-button">Increase Your Footprint</button>
      </form>
      {% endif %}
      {% if 'current_user' in session %}
      <p class="navbar-text navbar-right">Signed in as {{ g.user.fname }}</a></p>

      {% endif %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about ">About Despair Change</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <!-- This is the nav bar -->
    <a href='/'>Home | </a>

    {% if 'current_user' not in session %}
        <a href='/register'>Register | </a>
        <a href='/login'>Log In | </a>
    {% else %}

        <a href='/dashboard'>Profile | </a>
        <a href='/settings'>Settings | </a>

        <!-- TODO Figure out how to make a referral link show up from org_id and referrer id in base.html https://clipboardjs.com/-->
        <!-- <input id="referral-link" value=> -->
    {% endif %}

    <a href='/donate'>Donate | </a>
    <a href='/buttons'>Push Buttons | </a>
  <hr>
    {% for message in get_flashed_messages() %}
        {{ message }}
  <hr>
    {% endfor %}


<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#donationModal" >Make a Donation!</button> -->

<div class="modal fade bs-example-modal-lg" id="donationModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="container">
        <div class="modal-header">
        <h3>Donate to {{g.orgs[0].name}}</h3>
      </div>
            <div class="modal-body">
        <a href="{{g.orgs[0].website_url}}" target="_blank">
          <img alt='' width="300" height="200" src="{{g.orgs[0].logo_url}}" ></a><br>
            <p><b>Mission: </b>{{g.orgs[0].mission_statement}}</p>
          </div>

        <h4>Change donation amount <input type='text'></h4>
        <!-- Paypal button -->
        <form action="/donated" method="POST">

    <!-- Identify your business so that you can collect the payments. -->
            <input type="hidden" name="org"
                value="{{g.orgs[0].org_id}}">

    <!-- Display the payment button. -->
            <input type="image" name="submit"
                src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_donate_92x26.png"
                alt="Donate to {{g.orgs[0].name}}">
            <img alt="" width="1" height="1"
                src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
        </form>
      </div>

    </div>
  <!-- Wrapper for slides -->
    {% for org in g.orgs[1:] %}

    <div class="item">
      <div class="container">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-header">
          <h3>Donate to {{org.name}}</h3>
        </div>
        <div class="modal-body">
          <a href="{{org.website_url}}" target="_blank">
          <img alt='' width="300" height="200" src="{{org.logo_url}}" ></a><br>
            <p><b>Mission: </b>{{org.mission_statement}}</p>
          </div>

        <h4>Change donation amount <input type='text'></h4>
        <!-- Paypal button -->
        <form action="/donated" method="POST">

    <!-- Identify your business so that you can collect the payments. -->
            <input type="hidden" name="org"
                value="{{org.org_id}}">

    <!-- Display the payment button. -->
            <input type="image" name="submit"
                src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_donate_92x26.png"
                alt="Donate to {{org.name}}">
            <img alt="" width="1" height="1"
                src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >

        </form>

    </div>
  </div>
    {% endfor %}
  </div>
        <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
    </div>
  </div>
</div>


<script type="text/javascript">
$('#donationModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  console.log(recipient)
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  console.log("i'm here...")});

</script>



<!--<script type="text/javascript">   let clipboard = new Clipboard('.copy-button'); </script> -->
    {% block content %} put your content here {% endblock %}


