<!doctype html>
<html>
<head>
  <title>{% block title %}THIS IS MY TITLE {% endblock %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script src=
  "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">
</script>
<link rel=“stylesheet”
          href=“https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css“>
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
</head>


<body>
    <!-- This is the nav bar -->
    <a href='/'>Home | </a>

    {% if 'current_user' not in session %}
        <a href='/register'>Register | </a>
        <a href='/login'>Log In | </a>
    {% else %}
        <a href='/logout'>Log Out | </a>
        <a href='/dashboard'>Profile | </a>
        <a href='/settings'>Settings | </a>

    {% endif %}

    <a href='/donate'>Donate | </a>
    <a href='/buttons'>Push Buttons | </a>
    <a href='/about'>About Despair Change |</a>
  <hr>
    {% for message in get_flashed_messages() %}
        {{ message }}
  <hr>
    {% endfor %}

    {% block content %} put your content here {% endblock %}


