{% extends 'base.html' %}
{% block title %} DASHBOARD {% endblock %}
{% block content %}

<h1>Welcome, {{ user.fname }}</h1>

{% if total_donated == None %}
<h2>Head on over to the <a href="/donate">donate</a> page to start making an impact!</h2>
{% else  %}
<h2>Check out your impact</h2>

<!-- Bar Chart -->
<div class="user-impact-bar">
  <canvas id="userImpactBarChart" ></canvas>
  <div id="barLegend" class="chart-legend"></div>
<div>

    <p>You've attempted to donate ${{total_donated}}0 so far</p>
    <p>Thanks to technical difficulties, the reality on the ground is slightly different.</p>

    {% for org, amount in donations_by_org.items() %}
      <p> <b>{{org}}:</b> ${{ amount}}0</p>
    {% endfor %}
    <br>
    <br>

{% endif%}

<!-- <h2>DONUT CHART!!!</h2> -->

<!-- TODO: Figure out why getting rid of donut chart div fucks up bar chart -->

<a href="/settings">Change your settings</a>

<iframe src="https://giphy.com/embed/35jdDb13EhxxC" width="480" height="445" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

    {% for transaction in user.transactions %}
    <p>Time: {{ transaction.timestamp }}</p>
    <ul>
        <li>Org: {{transaction.org.name}}</li>
        <li>Amount: ${{transaction.amount}}
        <li>Your user ID: {{transaction.user_id}}</li>
    </ul>
    {% endfor %}

<h3>Eventually there will be some settings here like...</h3>
<ul>
  <li>change your password</li>
  <li>Invite a friend to join you in your despair</li>
</ul>

<script type="text/javascript" src="static/js/charts.js"> </script>
{% endblock %}
