{% extends 'base.html' %}
{% block title %} DASHBOARD {% endblock %}
{% block content %}

<h1>Welcome, {{ user.fname }}</h1>
<h2>Check out your impact</h2>
    <p>You've donated {{total_donated}} so far</p>
    <p>{{donations_by_org}}</p>

    {% for donation, amount in donatations_by_org %}
    <p> {{donation}}, {{amount}}</p>
    {% endfor %}
    <br>
    <br>




<iframe src="https://giphy.com/embed/35jdDb13EhxxC" width="480" height="445" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

    {% for transaction in user.transactions %}
    <p>Time: {{ transaction.timestamp }}</p>
    <ul>
        <li>Org: {{transaction.org.name}}</li>
        <li>Amount: ${{transaction.amount}}
        <li>Your user ID: {{transaction.user_id}}</li>
    </ul>
    {% endfor %}

<h3>Eventually there will be some settings here like...</h3>
<ul>
  <li>change your password</li>
  <li>Invite a friend to join you in your despair</li>
</ul>
{% endblock %}
