{% extends 'base.html' %}
{% block title %} DASHBOARD {% endblock %}
{% block content %}
<div class="container">
  <div class='row'>
    <h1>Welcome, {{ user.fname }}</h1>
<!--   </div>
<div class='container'> -->
  {% if total_donated == None %}
  <h2>Head on over to the <a href="/donate">donate</a> page to start making an impact!</h2>
  {% else  %}
<!--   <h2>Check out your impact</h2> -->
</div>




<h2>Your Total Imprint</h2>
{% if footprint_total > 0 %}
  <h4>Between your donations and the donations of people you've brought to Despair Change, you have made quite the difference! You have donated ${{total_donated}}0. You have also inspired an additional  ${{footprint_total}}0 worth of donations. Way to turn your despair around!
  </h4>
{% else %}
  <h4>You have donated a total of ${{total_donated}}0 so far. Click the Amplify your Impact button to inspire even more people to turn their despair into positive impact!</h4>
{% endif %}
<div class='container'>
  <div class='row'>
    <div class='col-xs-12 col-sm-12 col-md-6'>
      <div class="stacked-user-impact-bar">
        <canvas id="stackedUserImpactBarChart" ></canvas>
      <!-- <div id="stackedBarLegend" class="chart-legend"></div> -->
      </div>
    </div>
    <div class='col-xs-12 col-sm-12 col-md-6'>
      <div class="user-impact-donut">
        <canvas id="userImpactDonutChart" ></canvas>
        <!-- <div id="donutLegend" class="chart-legend"></div> -->
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class='row'>
    <h3>Your Impact by Transaction</h3>
    <p>Check out all the donations you made and inspires to make!</p>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
</div>
<div class="container">
  <h2></h2>
  <p>Figure out a more aesthetically pleasing way to display this</p>
  <table id="footprintTable" class="table table-hover table-responsive table-striped table-bordered table-scrollable header-fixed">
    <thead>
      <tr>
        <th>Organization</th>
        <th>Donor Location</th>
        <th>Amount Donated</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in footprint_transactions %}
      <tr>
        <td>{{transaction.org.short_name}}</td>
        <td>{{transaction.user.state_code}}</td>
        <td>${{transaction.amount}}0</td>
        <td>{{transaction.timestamp|datetimeformat("%m/%d/%y")}}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


    <p>You've attempted to donate ${{total_donated}}0 so far</p>
    <p>Thanks to technical difficulties, the reality on the ground is slightly different.</p>


{% endif %}


<a href="/settings">Change your settings</a>

<iframe src="https://giphy.com/embed/35jdDb13EhxxC" width="480" height="445" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

<!-- Bar Chart -->
<div class="user-impact-bar">
  <canvas id="userImpactBarChart" ></canvas>
  <div id="barLegend" class="chart-legend"></div>
<div>

<script type="text/javascript" src="static/js/dashboardCharts.js"> </script>
<div class='container'>
  {% if user.user_org %}
    <p>If you want to increase your footprint, tell your friends to click
      <input type="text" value="{{g.user.referral_link()}}" id="referralLink" hidden>
      <span id="referralLink" onclick="copyReferralLink()">here</span>
    to make a $1 donation to {{g.user.get_ranked_orgs()[0].name}} today!</p>
  {% endif %}
  </div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#footprintTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% endblock %}
