{% extends 'base.html' %}
{% block title %} Donate {% endblock %}
{% block content %}

<h1>IT'S A DONATION PAGE!!!</h1>

<iframe src="https://giphy.com/embed/VTxmwaCEwSlZm" width="480" height="198" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p>

<h4>Donate to the {{org.name}}</h4>
<form action="/donated" method="POST">

    <!-- Identify your business so that you can collect the payments. -->
    <input type="hidden" name="org"
        value="{{org.org_id}}">

    <!-- Display the payment button. -->
    <input type="image" name="submit"
    src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_donate_92x26.png"
    alt="Donate">
    <img alt="" width="1" height="1"
    src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >

</form>
<!-- TODO Create container for org with info -->
<h5>In the future, this will be a container with really pretty info like...</h5>
<h3>About the {{org.name}}</h3>
<img alt='' width="300" height="200" src='https://media.makeameme.org/created/how-about-getting.jpg' >
<ul>
    <li><b>Mission: </b>{{org.mission_statement}}</li>
    <li><a href="{{org.website_url}}">Our Website</a></li>
</ul>

{% endblock %}

