{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}

<h1>Log In!</h1>

<iframe src="https://giphy.com/embed/kMM3vtBEgSsLu" width="480" height="259" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

<div class="paypal-login-btn">
<span id='lippButton'></span>
<script src='https://www.paypalobjects.com/js/external/api.js'></script>
<script>
paypal.use( ['login'], function (login) {
  login.render ({
    "appid":"AZTfJ9tiYPtvaKPgdW8CRw-2z0nRfTQDbUsaYkIVdQJLX5MkOp6ld7J7XeQc8_V-UrEZSBM0hw_8An7M",
    "authend":"sandbox",
    "scopes":"openid",
    "containerid":"lippButton",
    "locale":"en-us",
    "returnurl":"https://beccarosenthal.auth0.com/login/callback"
  });
  console.log("rendered whatever")
});
</script>

</div>

<form action="/login" method="POST">
    <table>
        <tr>
            <td>Email Address:</td>
            <td><input name="email" type='text' required></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td> <input name="password" type="password" required></td>
        </tr>
    </table>
    <input type="submit">
</form>
{% endblock %}


<!-- Figure out how to make it so that their email address shows up as a value in the text form if there's a session -->
