{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}

<h1>Log In!</h1>

<iframe src="https://giphy.com/embed/kMM3vtBEgSsLu" width="480" height="259" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

<form action="/login" method="POST">
    <table>
        <tr>
            <td>Email Address:</td>
            <td><input name="email" type='text' required></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td> <input name="password" type="password" required></td>
        </tr>
    </table>
    <input type="submit">
</form>
{% endblock %}


<!-- Figure out how to make it so that their email address shows up as a value in the text form if there's a session -->
