{% extends 'base.html' %}
{% block title %} Despair Change {% endblock %}
{% block content %}

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
        width: 100%;
      }

    </style>


    <div id="map"></div>
    <script>
        function initMap() {

        let unitedStates = {lat: 39, lng: -95};

        let map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: unitedStates,
          disableDefaultUI: true,
        });

        $.get('/get_referral_zips.json', function(zipcodeMarkers) {


    for (let key in zipcodeMarkers) {

         let zipcode = zipcodeMarkers[key]['user_zipcode'];
         console.log(zipcode)

         if (zipcode == null) {
          continue
         };

         let geocode_generator = new google.maps.Geocoder();
         let postal_code =  zipcode;

         geocode_generator.geocode({'address': postal_code}, function(results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            map.setCenter(unitedStates);
            console.log('geocoder status ok?')
            console.log(zipcode)
            let marker = new google.maps.Marker({

              map: map,
              place: {
                location: results[0].geometry.location,
                query: "user_id"
              },

            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
      });
    }
  });
}



        let zipcodesList = $.get('/get_referral_zips.json', function (data) {
            console.log(data);

        });
        console.log("zipcodesList", zipcodesList);

        console.log(zipcodesList)
        for (let zipcode in zipcodesList) {

            console.log(zipcode)

        }




        // let marker = new google.maps.Marker({
        //   position: latLon,
        //   map: map
        // });

      // }




    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJiXJOhpPD2-41U9CfvMM7TOUqql-TOS8&callback=initMap"
    async defer></script>
<!-- <script src="/static/mapstyles.js"></script> -->

<!-- <script src="mapDemo.js"></script> -->
{% endblock %}

