{% extends 'base.html' %}
{% block title %} Despair Change {% endblock %}
{% block content %}

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
        width: 100%;
      }

    </style>


    <div id="map"></div>
    <script>
        function initMap() {

        let unitedStates = {lat: 39, lng: -95};

        let map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: unitedStates,
          disableDefaultUI: true,
        });


        let latLon = $.get('/get_lat_long.json', function (data) {
            console.log(data);
            console.log('here i am')
            console.log(latLon)
            });
        console.log(latLon)
        let lat = latLon['lat'];
        let lng = latLon['lng']
        console.log(lat)
        console.log(lng)

        let zipcodesList = $.get('/get_referral_zips.json', function (data) {
            console.log(data);
        })



        let marker = new google.maps.Marker({
          position: latLon,
          map: map
        });

      }




    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJiXJOhpPD2-41U9CfvMM7TOUqql-TOS8&callback=initMap"
    async defer></script>
<!-- <script src="/static/mapstyles.js"></script> -->

<!-- <script src="mapDemo.js"></script> -->
{% endblock %}

