
{% extends 'base.html' %}
{% block title %} {{ org.name }} {% endblock %}
{% block content %}

  <br><br><h2>{{org.name}}</h2>

<div id="stackedBarCanvas">
          <canvas id="stackedOrgBarChart"></canvas>
          <div id="stackedOrgBarLegend" class="chart-legend"></div>
        </div>


<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Mission: {{org.mission_statement}}</div>
    <div class="panel-body">
        <a href="{{org.website_url}}" target="_blank">
        <img alt='' width="300" height="200" src="{{org.logo_url}}" ></a><br>
    </div>
  </div>
</div>

<div class='container'>
  <a class="twitter-timeline"
  href="https://twitter.com/{{org.twitter_url}}"
  data-width="300"
  data-height="300">
  Tweets by {{org.twitter_url}}
  </a>
</div>

<div class="container">
  <table class="table table-hover table-responsive table-striped">
    <thead>
      <tr>
        <th>Organization</th>
        <th>Amount Donated</th>
        <th>Number of Donors</th>
        <th>Number of Donations</th>
        <th>Average Donation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/org/{{org.org_id}}">{{org.name}}</td></a>
        <td>${{org.amount_raised()}}0</td>
        <td>{{org.num_unique_donors()}}</td>
        <td>{{org.num_transactions()}}</td>
        <td>{{org.average_donation()}}</td>
      </tr>
    </tbody>
  </table>
</div>

<h3>Donations</h3>
<div class="container">
  <table class="table table-hover table-responsive table-striped">
    <thead>
      <tr>
        <th>Amount</th>
        <th>Donor Location</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in org.transactions%}
      <tr>
        <td>${{transaction.amount}}0</td>
        {% if transaction.user.state_code%}
            <td>{{transaction.user.state_code}}</td>
            {% else %}
            <td>N/A</td>
            {% endif%}
        <td>{{transaction.timestamp|datetimeformat("%m/%d/%y")}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class='container'>
  <div id="map-canvas"></div>
</div>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJiXJOhpPD2-41U9CfvMM7TOUqql-TOS8&callback=initMap"
  type="text/javascript"></script>
  <link href="/static/maps.css" rel="stylesheet">
      <script>
        // Note: This example requires that you consent to location sharing when
        // prompted by your browser. If you see a blank space instead of the map, this
        // is probably because you have denied permission for location sharing.

        let map;

        function initialize() {
            let mapOptions = {
                zoom: 15
            };
            map = new google.maps.Map(
                    document.querySelector('#map-canvas'),
                    mapOptions);

            // Try HTML5 geolocation
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    let pos = new google.maps.LatLng(
                            position.coords.latitude,
                            position.coords.longitude);

                    let infowindow = new google.maps.InfoWindow({
                        map: map,
                        position: pos,
                        content: 'Found you!'
                    });

                    map.setCenter(pos);
                }, function () {
                    handleNoGeolocation(true);
                });
            } else {
                // Browser doesn't support Geolocation
                handleNoGeolocation(false);
            }
        }

        function handleNoGeolocation(errorFlag) {
            let content;

            if (errorFlag) {
                content = "Error: The Geolocation service failed.";
            } else {
                content = "Error: Your browser doesn't support geolocation.";
            }

            let options = {
                map: map,
                position: new google.maps.LatLng(60, 105),
                content: content
            };

            let infowindow = new google.maps.InfoWindow(options);
            map.setCenter(options.position);
        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
{% endblock %}
