{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}

<h2>Registration</h2>

<iframe src="https://giphy.com/embed/BNFfcnjOXuYSY" width="480" height="238" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

<p>Welcome to Despair Change--where you'll be channeling your despair
  into positivity in no time!</p>

<h4>Register with Paypal</h4>
<div class="paypal-login-btn">
<span id='lippButton'></span>
<script src='https://www.paypalobjects.com/js/external/api.js'></script>
<script>
paypal.use( ['login'], function (login) {
  login.render ({
    "appid":"AZTfJ9tiYPtvaKPgdW8CRw-2z0nRfTQDbUsaYkIVdQJLX5MkOp6ld7J7XeQc8_V-UrEZSBM0hw_8An7M",
    "authend":"sandbox",
    "scopes":"openid email",
    "containerid":"lippButton",
    "text": "Login with Paypal to use Despair Change"
    "locale":"en-us",
    "returnurl":"http://localhost:5000/login/paypal"
  });
});
</script>

</div>

<h2>Or...</h2>
<form id="register" action="/register" onsubmit="return validateForm()" method="POST">
  <table>
    <tr>
       <td>Email Address: </td>
       <td> <input id="email" name="email" type='email' required></td>
    </tr>
    <tr>
      <td>Password: </td>
      <td><input id="password" name="password" type="password" required> </td>
    </tr>
    <tr>
      <td>Verify Your Password: </td>
      <td><input id="password_validate" name="password" type="password" required> </td>
    </tr>

    <tr>
       <td>First Name: </td>
       <td> <input id="fname" name="fname" type='text' required></td>
    </tr>
    <tr>
       <td>Last Name: </td>
       <td> <input id="lname" name="lname"  type='text' required></td>
    </tr>
    <tr>
      <td>Phone: </td>
      <td><input id="phone" name="phone" type='tel'></td>
    </tr>
    <tr>
      <td>Age:</td>
      <td><input id="age" name='age' type='number'></td>
    </tr>
    <tr>
      <td>Zip Code: </td>
      <td><input id="zipcode" name='zipcode' type='text' pattern="\d{5}"></td>
    </tr>
    <tr>
      <td>State: </td>
      <td>
        <select name="state" id="state" required>
          <option value="" selected="selected">Select a State</option>
          {% for state in states%}
            <option value="{{state.code}}">{{state.name}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
  </table>
    <select id="rank_1" name="rank_1">
      <option value=''>Which of these organizations is your favorite?</option>
        {% for org in orgs %}
          <option value="{{org.org_id}}">{{org.name}}</option>
        {% endfor %}
    </select>


</form>
  <button type="register-button" id="submit-button" >Submit</button>

<form data-toggle="validator" role="form">
  <div class="form-group">
    <label for="inputName" class="control-label">Name</label>
    <input type="text" class="form-control" id="inputName" placeholder="Cina Saffary" required>
  </div>
  <div class="form-group has-feedback">
    <label for="inputTwitter" class="control-label">Twitter</label>
    <div class="input-group">
      <span class="input-group-addon">@</span>
      <input type="text" pattern="^[_A-z0-9]{1,}$" maxlength="15" class="form-control" id="inputTwitter" placeholder="1000hz" required>
    </div>
    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
    <div class="help-block with-errors">Hey look, this one has feedback icons!</div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="control-label">Email</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="Email" data-error="Bruh, that email address is invalid" required>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="control-label">Password</label>
    <div class="form-inline row">
      <div class="form-group col-sm-6">
        <input type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="Password" required>
        <div class="help-block">Minimum of 6 characters</div>
      </div>
      <div class="form-group col-sm-6">
        <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirm" required>
        <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="radio">
      <label>
        <input type="radio" name="underwear" required>
        Boxers
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="underwear" required>
        Briefs
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" id="terms" data-error="Before you wreck yourself" required>
        Check yourself
      </label>
      <div class="help-block with-errors"></div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<script type="text/javascript" src="static/js/register.js"> </script>



{% endblock %}
