{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}

<h2>Registration</h2>

<iframe src="https://giphy.com/embed/BNFfcnjOXuYSY" width="480" height="238" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

<p>Welcome to Despair Change--where you'll be channeling your despair
  into positivity in no time!</p>


<form id="register" action="/register" onsubmit="return validateForm()" method="POST">
  <table>
    <tr>
       <td>Email Address: </td>
       <td> <input id="email" name="email" type='email' required></td>
    </tr>
    <tr>
      <td>Password: </td>
      <td><input id="password" name="password" type="password" required> </td>
    </tr>
    <tr>
      <td>Verify Your Password: </td>
      <td><input id="password_validate" name="password" type="password" required> </td>
    </tr>

    <tr>
       <td>First Name: </td>
       <td> <input id="fname" name="fname" type='text' required></td>
    </tr>
    <tr>
       <td>Last Name: </td>
       <td> <input id="lname" name="lname"  type='text' required></td>
    </tr>
    <tr>
      <td>Phone: </td>
      <td><input id="phone" name="phone" type='tel'></td>
    </tr>
    <tr>
      <td>Age:</td>
      <td><input id="age" name='age' type='number'></td>
    </tr>
    <tr>
      <td>Zip Code: </td>
      <td><input id="zipcode" name='zipcode' type='text' pattern="\d{5}"></td>
    </tr>
    <tr>
      <td>State: </td>
      <td>
        <select name="state" id="state" required>
          <option value="" selected="selected">Select a State</option>
          {% for state in states%}
            <option value="{{state.code}}">{{state.name}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
  </table>
    <select name="rank_1">
      <option value=''>Which of these organizations is your favorite?</option>
        {% for org in orgs %}
          <option value="{{org.org_id}}">{{org.name}}</option>
        {% endfor %}
    </select>


</form>
  <button type="register-button" id="submit-button" >Submit</button>

<script type="text/javascript" src="static/js/register.js"> </script>


{% endblock %}
