 {% extends 'base.html' %}
{% block title %} Settings {% endblock %}
{% block content %}

<iframe src="https://giphy.com/embed/cxKnnxcQWzwZO" width="480" height="245" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

<h2>Hey {{g.user.fname}}!</h2>
<p>Let's switch it up a bit</p>

<div id="user-org-info"><p>Which org would you like to have listed first on your donate page?</p>
    You have chosen for your top organizations to be:
    <ol>
        {% for fave in g.user.get_ranked_orgs()[0:3] %}
        <li>{{fave.name}}</li>
        {% endfor %}
    </ol>
    <!-- <form id="new-user-orgs" class="settings-box"></form> -->
    <b>Would you like to choose different favorites?</b>

<!-- TODO add checkboxes for do you want to change each setting, and if they say yes, have the change thing appear -->

</div>
<!-- TODO add Javascript to make sure that each of the ranked items are different before submission -->
    <form id="user_settings" action="/adjust_settings">
        <select name="rank_1">
            <option value=''>#1</option>
            {% for org in g.user.get_ranked_orgs() %}
                <option value="{{org.org_id}}">{{org.name}}</option>
            {% endfor %}
        </select>
        <select name="rank_2">
            <option value=''>#2</option>
            {% for org in g.user.get_ranked_orgs() %}
                <option value="{{org.org_id}}">{{org.name}}</option>
            {% endfor %}
        </select>
        <select name="rank_3">
            <option value=''>#3</option>
            {% for org in g.user.get_ranked_orgs() %}
                <option value="{{org.org_id}}">{{org.name}}</option>
            {% endfor %}
        </select><br>

        <p><b>Default Payment Amount</b></p>
        <p>Despair Change uses relies on micro donations from users to create a large collective impact. Your default payment amount should be an amount of money that feels negligible. Larger donations are great, but the point of Despair Change is to generate large numbers of micro-donations, not small numbers of larger donations.</p>
        <p>Your current default amount is ${{g.user.default_amount}}0. If you would like to change it, click one of the amounts below or enter an amount.</p>

        $1 <input type="radio" name="default_amount" value="1">
        $2 <input type="radio" name="default_amount" value="2">
        $5 <input type="radio" name="default_amount" value="5">
        $10 <input type="radio" name="default_amount" value="10">
        $20 <input type="radio" name="default_amount" value="20">

    <input type="submit">
        <!-- TODO Add javacsript to make sure that this is a number -->
        <!-- Other<input type="text" name="default_value"> -->

    </form>

    <br>

<div id="settings"></div>

<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

{% endblock %}
