{% extends 'base.html' %}
{% block title %} Settings {% endblock %}
{% block content %}

<iframe src="https://giphy.com/embed/cxKnnxcQWzwZO" width="480" height="245" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

<h2>Hey {{user_obj.fname}}!</h2>
<p>Let's switch it up a bit</p>

<div id="user-org-info"><p>Which org would you like to have listed first on your donate page?</p>
{% if current_faves %}
    You have chosen for your top organizations to be:
    <ol>
        {% for fave in current_faves %}
        <li>{{fave.org.name}}</li>
        {% endfor %}
    </ol>
    <b>Would you like to choose different favorites?</b>
{% else%}
    <p>Which organizations would you like to appear on the top of your donations page? You can choose up to three.</p>

{% endif %}

</div>
<!-- TODO add Javascript to make sure that each of the ranked items are different before submission -->
    <form id="user_settings" action="/adjust_settings" required>
        <select name="rank_1">
            <option value=''>#1</option>
            {% for org in orgs %}
                <option value="{{org.org_id}}">{{org.name}}</option>
            {% endfor %}
        </select>
        <select name="rank_2">
            <option value=''>#2</option>
            {% for org in orgs %}
                <option value="{{org.org_id}}">{{org.name}}</option>
            {% endfor %}
        </select>
        <select name="rank_3">
            <option value=''>#3</option>
            {% for org in orgs %}
                <option value="{{org.org_id}}">{{org.name}}</option>
            {% endfor %}
        </select>
        <br>
        <p><b>Default Payment Amount</b></p>
        <p>Despair Change uses relies on micro donations from users to create a large collective impact. Your default payment amount should be an amount of money that feels negligible. Larger donations are great, but the point of Despair Change is to generate large numbers of micro-donations, not small numbers of larger donations.</p>
        $1<input type="radio" name="default_value" value="1">
        $2<input type="radio" name="default_value" value="2">
        $5<input type="radio" name="default_value" value="5">
        $10<input type="radio" name="default_value" value="10">
        Other<input type="text" name="default_value">

        <input type="submit">

    </form>

<div id="settings"></div>

<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="http://unpkg.com/babel-standalone"></script>
<script src="static/settings.jsx" type="text/jsx"></script>

<!-- Why do I need a second jsx file? This is  -->
<script src="static/index.jsx" type="text/jsx"></script>
{% endblock %}
